---
version: 2
interactions:
    - id: 0
      request:
        host: integration-test-cicd-service-kfdmyx7a.authentication.eu12.hana.ondemand.com
        body: grant_type=client_credentials
        form:
            grant_type:
                - client_credentials
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://integration-test-cicd-service-kfdmyx7a.authentication.eu12.hana.ondemand.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted-access-token","token_type":"bearer","expires_in":3599,"scope":"uaa.resource cicdservice!b556411.Administrate","jti":"3c1c256ec7744874b99e673a1fe204bb"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 14d4f279-14aa-493f-4b28-e478f4fd9f36
        status: 200 OK
        code: 200
        duration: 898.212333ms
    - id: 1
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials
        method: GET
      response:
        body: '{"_embedded":{"credentials":[{"name":"tf-ds-test-basic-auth","apiVersion":"v2","id":"8be241d3-6101-45d0-9e64-01f66e52c4de","description":"Used by datasource test","basic":{"username":"test-user"},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/8be241d3-6101-45d0-9e64-01f66e52c4de"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/8be241d3-6101-45d0-9e64-01f66e52c4de/usages"}}}]},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"ui":{"href":"https://integration-test-cicd-service-kfdmyx7a.eu12.cicd.cloud.sap/ui/index.html#/?tab=credentials"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            X-Vcap-Request-Id:
                - 89526d87-defe-4a80-6802-2de9aea085d4
        status: 200 OK
        code: 200
        duration: 582.491334ms
[...]
