---
version: 2
interactions:
    - id: 0
      request:
        host: integration-test-cicd-service-kfdmyx7a.authentication.eu12.hana.ondemand.com
        body: grant_type=client_credentials
        form:
            grant_type:
                - client_credentials
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://integration-test-cicd-service-kfdmyx7a.authentication.eu12.hana.ondemand.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted-access-token","token_type":"bearer","expires_in":3599,"scope":"uaa.resource cicdservice!b556411.Administrate","jti":"ad3e5351789f4ea086b345760e95733a"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 1e6f56d3-cc85-4ba2-5a9a-857d22e61aae
        status: 200 OK
        code: 200
        duration: 932.68075ms
    - id: 1
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/this-credential-does-not-exist
        method: GET
      response:
        body: '{"type":"about:blank","title":"A requested entity was not found.","status":404,"detail":"No credential with name or ID ''this-credential-does-not-exist'' found.","instance":"/v2/credentials/this-credential-does-not-exist","correlationID":"dea6c389-8479-4de2-61c8-fd139ffd2eb6"}'
        headers:
            Content-Type:
                - application/problem+json
            X-Vcap-Request-Id:
                - dea6c389-8479-4de2-61c8-fd139ffd2eb6
        status: 404 Not Found
        code: 404
        duration: 737.612417ms
