---
version: 2
interactions:
    - id: 0
      request:
        host: test-ci-cd-l646hcu6.authentication.eu12.hana.ondemand.com
        body: grant_type=client_credentials
        form:
            grant_type:
                - client_credentials
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://test-ci-cd-l646hcu6.authentication.eu12.hana.ondemand.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted-access-token","token_type":"bearer","expires_in":3599,"scope":"uaa.resource cicdservice!b556411.Administrate","jti":"2799667e2a8c42d59396ff4ae8bab965"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 08abf7e5-c194-4c1e-4760-33fd8e645800
        status: 200 OK
        code: 200
        duration: 1.178882167s
    - id: 1
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/tf-ds-test-basic-auth
        method: GET
      response:
        body: '{"name":"tf-ds-test-basic-auth","apiVersion":"v2","id":"e12af3f4-f3f4-46d4-8067-7b24c425de70","description":"Used by datasource test","basic":{"username":"ds-test-user"},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/e12af3f4-f3f4-46d4-8067-7b24c425de70"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/e12af3f4-f3f4-46d4-8067-7b24c425de70/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - b11c40c4-6c33-48b5-481e-8e2bb9092ce1
        status: 200 OK
        code: 200
        duration: 904.248126ms
[...]
