---
version: 2
interactions:
    - id: 0
      request:
        host: test-ci-cd-l646hcu6.authentication.eu12.hana.ondemand.com
        body: grant_type=client_credentials
        form:
            grant_type:
                - client_credentials
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://test-ci-cd-l646hcu6.authentication.eu12.hana.ondemand.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted-access-token","token_type":"bearer","expires_in":3599,"scope":"uaa.resource cicdservice!b556411.Administrate","jti":"6051eeb43e1e481091eef572699d6375"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 0d874274-74f9-433b-75c3-21aa54fd0aa1
        status: 200 OK
        code: 200
        duration: 1.611105585s
    - id: 1
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials
        method: GET
      response:
        body: '{"_embedded":{"credentials":[{"name":"my-github-token","apiVersion":"v2","id":"6b99f86a-b342-436d-be51-a3b2e57aa34f","description":"Token for GitHub access","basic":{"username":"ravi-ydv"},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/6b99f86a-b342-436d-be51-a3b2e57aa34f"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/6b99f86a-b342-436d-be51-a3b2e57aa34f/usages"}}},{"name":"service-key-cred-abc","apiVersion":"v2","id":"5b9e5a2b-6e3e-4343-bc7c-665e694e17d1","description":"SAP BTP Service Key JSON","serviceKey":{},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/5b9e5a2b-6e3e-4343-bc7c-665e694e17d1"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/5b9e5a2b-6e3e-4343-bc7c-665e694e17d1/usages"}}},{"name":"my-deploy-user-from-cicd","apiVersion":"v2","id":"4bca207d-6f37-4313-a154-9d11bf7a74e9","description":"CF deployment user1","basic":{"[...]
[...]
