---
version: 2
interactions:
    - id: 0
      request:
        host: integration-test-cicd-service-kfdmyx7a.authentication.eu12.hana.ondemand.com
        body: grant_type=client_credentials
        form:
            grant_type:
                - client_credentials
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://integration-test-cicd-service-kfdmyx7a.authentication.eu12.hana.ondemand.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted-access-token","token_type":"bearer","expires_in":3599,"scope":"uaa.resource cicdservice!b556411.Administrate","jti":"259661f2c74e440e84126dcdc3b1bccf"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 293bbfb9-817b-4f98-46c1-c8d551a817f3
        status: 200 OK
        code: 200
        duration: 936.920333ms
    - id: 1
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/tf-ds-test-basic-auth
        method: GET
      response:
        body: '{"name":"tf-ds-test-basic-auth","apiVersion":"v2","id":"8be241d3-6101-45d0-9e64-01f66e52c4de","description":"Used by datasource test","basic":{"username":"test-user"},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/8be241d3-6101-45d0-9e64-01f66e52c4de"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/8be241d3-6101-45d0-9e64-01f66e52c4de/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - 00f4c08b-0155-443e-4cc3-5185c03e718e
        status: 200 OK
        code: 200
        duration: 726.966667ms
[...]
