---
version: 2
interactions:
    - id: 0
      request:
        host: test-ci-cd-l646hcu6.authentication.eu12.hana.ondemand.com
        body: grant_type=client_credentials
        form:
            grant_type:
                - client_credentials
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://test-ci-cd-l646hcu6.authentication.eu12.hana.ondemand.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted-access-token","token_type":"bearer","expires_in":3599,"scope":"uaa.resource cicdservice!b556411.Administrate","jti":"d9119ea2f9f945579f88f3aa14aae394"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 2304c9ec-262f-4531-4671-7b87c06abca7
        status: 200 OK
        code: 200
        duration: 1.186964376s
    - id: 1
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/this-credential-does-not-exist
        method: GET
      response:
        body: '{"type":"about:blank","title":"A requested entity was not found.","status":404,"detail":"No credential with name or ID ''this-credential-does-not-exist'' found.","instance":"/v2/credentials/this-credential-does-not-exist","correlationID":"cbbecf22-5d2a-48c5-6834-11ee85190156"}'
        headers:
            Content-Type:
                - application/problem+json
            X-Vcap-Request-Id:
                - cbbecf22-5d2a-48c5-6834-11ee85190156
        status: 404 Not Found
        code: 404
        duration: 896.839292ms
