---
version: 2
interactions:
    - id: 0
      request:
        host: integration-test-cicd-service-kfdmyx7a.authentication.eu12.hana.ondemand.com
        body: grant_type=client_credentials
        form:
            grant_type:
                - client_credentials
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://integration-test-cicd-service-kfdmyx7a.authentication.eu12.hana.ondemand.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted-access-token","token_type":"bearer","expires_in":3599,"scope":"uaa.resource cicdservice!b556411.Administrate","jti":"0a271c68c52e4966b78b63800b0d4235"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 96e58bcc-fa8b-4e5c-61b3-de932cfdc97d
        status: 200 OK
        code: 200
        duration: 1.103099876s
    - id: 1
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials
        method: GET
      response:
        body: '{"_embedded":{"credentials":[{"name":"my-webhook-secret-test-list-resource","apiVersion":"v2","id":"dd1e05f6-01b6-40b2-b665-8cca9b89dc39","description":"Webhook secret for GitHub integration. This is for testing list resource. Please do not delete this.","webhookToken":{},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/dd1e05f6-01b6-40b2-b665-8cca9b89dc39"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/dd1e05f6-01b6-40b2-b665-8cca9b89dc39/usages"}}},{"name":"my-kubernetes-config-test-list-resource","apiVersion":"v2","id":"f9425a2e-aba6-4425-b983-ec7c87d0867b","description":"Kubeconfig for test cluster. This is for testing list resource. Please do not delete this.","kubernetesConfiguration":{},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/f9425a2e-aba6-4425-b983-ec7c87d0867b"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/f9425a2e-aba6-4425-b983-ec7c87d0867b/usages"}}},{"name":"my-container-registry-test-list-resource","apiVersion":"v2","id":"d794d687-3053-4cba-a942-88e6b13ef035","description":"Docker Hub credentials for CI/CD pipeline. This is for testing list resource. Please do not delete this.","containerRegistryConfiguration":{},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/d794d687-3053-4cba-a942-88e6b13ef035"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/d794d687-3053-4cba-a942-88e6b13ef035/usages"}}},{"name":"tf-ds-test-basic-auth","apiVersion":"v2","id":"8be241d3-6101-45d0-9e64-01f66e52c4de","description":"Used by datasource test","basic":{"username":"test-user"},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/8be241d3-6101-45d0-9e64-01f66e52c4de"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/8be241d3-6101-45d0-9e64-01f66e52c4de/usages"}}},{"name":"my-cloud-connector-test-list-resource","apiVersion":"v2","id":"c2181479-c573-4b60-8114-2fb6601f32d4","description":"Cloud Connector for on-premise system access. This is for testing list resource. Please do not delete this.","cloudConnector":{"locationId":"my-location-id"},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/c2181479-c573-4b60-8114-2fb6601f32d4"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/c2181479-c573-4b60-8114-2fb6601f32d4/usages"}}}]},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"ui":{"href":"https://integration-test-cicd-service-kfdmyx7a.eu12.cicd.cloud.sap/ui/index.html#/?tab=credentials"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            X-Vcap-Request-Id:
                - 9b56ecf6-e995-4bf5-426e-24a6f3992635
        status: 200 OK
        code: 200
        duration: 642.589084ms
[...]
