---
version: 2
interactions:
    - id: 0
      request:
        host: test-ci-cd-l646hcu6.authentication.eu12.hana.ondemand.com
        body: grant_type=client_credentials
        form:
            grant_type:
                - client_credentials
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://test-ci-cd-l646hcu6.authentication.eu12.hana.ondemand.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted-access-token","token_type":"bearer","expires_in":3599,"scope":"uaa.resource cicdservice!b556411.Administrate","jti":"d5372340492340b5a6864b19e1c4b64a"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 734e3b85-248d-4801-636f-2e8d1130264f
        status: 200 OK
        code: 200
        duration: 944.694584ms
    - id: 1
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: '{"name":"tf-test-basic-auth","description":"Terraform acceptance test credential","basic":{"username":"test-user","password":"redacted-password"}}'
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/json
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials
        method: POST
      response:
        body: ""
        headers:
            Etag:
                - W/"0"
            Location:
                - https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/66264405-771f-4598-9e6b-aa1803057765
            X-Vcap-Request-Id:
                - 0b220866-e7c2-4ef8-4edf-c81852182493
        status: 201 Created
        code: 201
        duration: 923.985084ms
    - id: 2
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/tf-test-basic-auth
        method: GET
      response:
        body: '{"name":"tf-test-basic-auth","apiVersion":"v2","id":"66264405-771f-4598-9e6b-aa1803057765","description":"Terraform acceptance test credential","basic":{"username":"test-user"},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/66264405-771f-4598-9e6b-aa1803057765"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/66264405-771f-4598-9e6b-aa1803057765/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - bd51bd9a-a85b-445a-5341-4391d9875633
        status: 200 OK
        code: 200
        duration: 272.898042ms
    - id: 3
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/66264405-771f-4598-9e6b-aa1803057765
        method: GET
      response:
        body: '{"name":"tf-test-basic-auth","apiVersion":"v2","id":"66264405-771f-4598-9e6b-aa1803057765","description":"Terraform acceptance test credential","basic":{"username":"test-user"},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/66264405-771f-4598-9e6b-aa1803057765"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/66264405-771f-4598-9e6b-aa1803057765/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - aba73be7-6c0b-451b-5c75-03b6abbaca63
        status: 200 OK
        code: 200
        duration: 291.087542ms
[...]
