---
version: 2
interactions:
    - id: 0
      request:
        host: integration-test-cicd-service-kfdmyx7a.authentication.eu12.hana.ondemand.com
        body: grant_type=client_credentials
        form:
            grant_type:
                - client_credentials
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://integration-test-cicd-service-kfdmyx7a.authentication.eu12.hana.ondemand.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted-access-token","token_type":"bearer","expires_in":3599,"scope":"uaa.resource cicdservice!b556411.Administrate","jti":"080f105afaf44df7a8d57f5e93d85c61"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - d5a25907-f800-41ae-7693-5982a404cb80
        status: 200 OK
        code: 200
        duration: 700.545792ms
    - id: 1
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: '{"name":"tf-test-webhook-secret","description":"Terraform acceptance test webhook secret credential","webhookToken":{"token":"my-secret-token"}}'
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/json
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials
        method: POST
      response:
        body: ""
        headers:
            Etag:
                - W/"0"
            Location:
                - https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/84b9d9d3-72b2-4cae-bf29-2d586ab8900a
            X-Vcap-Request-Id:
                - e9057fe0-aa6a-4c22-4ef8-48ff9d192c3e
        status: 201 Created
        code: 201
        duration: 670.729792ms
    - id: 2
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/tf-test-webhook-secret
        method: GET
      response:
        body: '{"name":"tf-test-webhook-secret","apiVersion":"v2","id":"84b9d9d3-72b2-4cae-bf29-2d586ab8900a","description":"Terraform acceptance test webhook secret credential","webhookToken":{},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/84b9d9d3-72b2-4cae-bf29-2d586ab8900a"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/84b9d9d3-72b2-4cae-bf29-2d586ab8900a/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - 1663a12d-bee4-4f61-664e-2ecaad1728f1
        status: 200 OK
        code: 200
        duration: 211.852084ms
    - id: 3
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/84b9d9d3-72b2-4cae-bf29-2d586ab8900a
        method: GET
      response:
        body: '{"name":"tf-test-webhook-secret","apiVersion":"v2","id":"84b9d9d3-72b2-4cae-bf29-2d586ab8900a","description":"Terraform acceptance test webhook secret credential","webhookToken":{},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/84b9d9d3-72b2-4cae-bf29-2d586ab8900a"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/84b9d9d3-72b2-4cae-bf29-2d586ab8900a/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - 5b6671e8-796d-4814-4b31-c26deaa11694
        status: 200 OK
        code: 200
        duration: 414.177792ms
[...]
