---
version: 2
interactions:
    - id: 0
      request:
        host: test-ci-cd-l646hcu6.authentication.eu12.hana.ondemand.com
        body: grant_type=client_credentials
        form:
            grant_type:
                - client_credentials
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://test-ci-cd-l646hcu6.authentication.eu12.hana.ondemand.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted-access-token","token_type":"bearer","expires_in":3599,"scope":"uaa.resource cicdservice!b556411.Administrate","jti":"02a5c903e18047b0a62ad5ce55a51d0a"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 27321ae8-ceb6-49d7-6748-600d03757358
        status: 200 OK
        code: 200
        duration: 959.529625ms
    - id: 1
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: '{"name":"tf-test-kubernetes-config","description":"Terraform acceptance test kubernetes config credential","kubernetesConfiguration":{"content":"apiVersion: v1\nkind: Config\nclusters: []\ncontexts: []\ncurrent-context: \"\"\nusers: []"}}'
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/json
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials
        method: POST
      response:
        body: ""
        headers:
            Etag:
                - W/"0"
            Location:
                - https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/d79f73b1-2d60-40b4-8765-9790fe1b5591
            X-Vcap-Request-Id:
                - 6dcd8843-6e51-4e38-53e8-963d47a5c1d3
        status: 201 Created
        code: 201
        duration: 800.952209ms
    - id: 2
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/tf-test-kubernetes-config
        method: GET
      response:
        body: '{"name":"tf-test-kubernetes-config","apiVersion":"v2","id":"d79f73b1-2d60-40b4-8765-9790fe1b5591","description":"Terraform acceptance test kubernetes config credential","kubernetesConfiguration":{},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/d79f73b1-2d60-40b4-8765-9790fe1b5591"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/d79f73b1-2d60-40b4-8765-9790fe1b5591/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - cdef46d7-0ba1-41c4-6120-be35804f0eb0
        status: 200 OK
        code: 200
        duration: 258.590917ms
    - id: 3
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/d79f73b1-2d60-40b4-8765-9790fe1b5591
        method: GET
      response:
        body: '{"name":"tf-test-kubernetes-config","apiVersion":"v2","id":"d79f73b1-2d60-40b4-8765-9790fe1b5591","description":"Terraform acceptance test kubernetes config credential","kubernetesConfiguration":{},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/d79f73b1-2d60-40b4-8765-9790fe1b5591"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/d79f73b1-2d60-40b4-8765-9790fe1b5591/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - 76e2329f-8563-4175-7107-1e5ca10a70a1
        status: 200 OK
        code: 200
        duration: 303.74975ms
[...]
