---
version: 2
interactions:
    - id: 0
      request:
        host: integration-test-cicd-service-kfdmyx7a.authentication.eu12.hana.ondemand.com
        body: grant_type=client_credentials
        form:
            grant_type:
                - client_credentials
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://integration-test-cicd-service-kfdmyx7a.authentication.eu12.hana.ondemand.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted-access-token","token_type":"bearer","expires_in":3599,"scope":"uaa.resource cicdservice!b556411.Administrate","jti":"041627865a394ba1ae9b2ad5658bb975"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 977578be-feb9-476b-6a27-ce22aabb1441
        status: 200 OK
        code: 200
        duration: 1.381886751s
    - id: 1
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: '{"name":"tf-test-basic-auth","description":"Terraform acceptance test credential","basic":{"username":"test-user","password":"redacted-password"}}'
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/json
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials
        method: POST
      response:
        body: ""
        headers:
            Etag:
                - W/"0"
            Location:
                - https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/999dce1e-a01f-4efe-9db5-7bee6aca1fa5
            X-Vcap-Request-Id:
                - aed48d6c-fd79-444e-7d6b-f38f64a40e0a
        status: 201 Created
        code: 201
        duration: 1.248673209s
    - id: 2
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/tf-test-basic-auth
        method: GET
      response:
        body: '{"name":"tf-test-basic-auth","apiVersion":"v2","id":"999dce1e-a01f-4efe-9db5-7bee6aca1fa5","description":"Terraform acceptance test credential","basic":{"username":"test-user"},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/999dce1e-a01f-4efe-9db5-7bee6aca1fa5"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/999dce1e-a01f-4efe-9db5-7bee6aca1fa5/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - 5c4c4515-f115-47b9-4a95-f8e9d36834cb
        status: 200 OK
        code: 200
        duration: 297.966917ms
    - id: 3
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/999dce1e-a01f-4efe-9db5-7bee6aca1fa5
        method: GET
      response:
        body: '{"name":"tf-test-basic-auth","apiVersion":"v2","id":"999dce1e-a01f-4efe-9db5-7bee6aca1fa5","description":"Terraform acceptance test credential","basic":{"username":"test-user"},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/999dce1e-a01f-4efe-9db5-7bee6aca1fa5"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/999dce1e-a01f-4efe-9db5-7bee6aca1fa5/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - 14f759f8-07c9-4bb1-691c-19d081e48986
        status: 200 OK
        code: 200
        duration: 226.74175ms
[...]
