---
version: 2
interactions:
    - id: 0
      request:
        host: integration-test-cicd-service-kfdmyx7a.authentication.eu12.hana.ondemand.com
        body: grant_type=client_credentials
        form:
            grant_type:
                - client_credentials
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://integration-test-cicd-service-kfdmyx7a.authentication.eu12.hana.ondemand.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted-access-token","token_type":"bearer","expires_in":3599,"scope":"uaa.resource cicdservice!b556411.Administrate","jti":"bc89fc99772c4ac8969ee23c9b4329ca"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 673696ea-1cec-4cf6-7d7d-bd76a9d3c1a2
        status: 200 OK
        code: 200
        duration: 803.882626ms
    - id: 1
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: '{"name":"tf-test-container-registry","description":"Terraform acceptance test container registry credential","containerRegistryConfiguration":{"content":"{\"auths\":{\"registry.example.com\":{\"auth\":\"dXNlcjpwYXNz\"}}}"}}'
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/json
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials
        method: POST
      response:
        body: ""
        headers:
            Etag:
                - W/"0"
            Location:
                - https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/4aac22e1-25d0-458e-9bad-c489bbb4527d
            X-Vcap-Request-Id:
                - 83355d2a-fb03-422e-6a44-60f4fe6e6a21
        status: 201 Created
        code: 201
        duration: 644.839792ms
    - id: 2
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/tf-test-container-registry
        method: GET
      response:
        body: '{"name":"tf-test-container-registry","apiVersion":"v2","id":"4aac22e1-25d0-458e-9bad-c489bbb4527d","description":"Terraform acceptance test container registry credential","containerRegistryConfiguration":{},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/4aac22e1-25d0-458e-9bad-c489bbb4527d"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/4aac22e1-25d0-458e-9bad-c489bbb4527d/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - 67c196ac-8376-42e9-58a0-25197699f1d2
        status: 200 OK
        code: 200
        duration: 375.842875ms
    - id: 3
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/4aac22e1-25d0-458e-9bad-c489bbb4527d
        method: GET
      response:
        body: '{"name":"tf-test-container-registry","apiVersion":"v2","id":"4aac22e1-25d0-458e-9bad-c489bbb4527d","description":"Terraform acceptance test container registry credential","containerRegistryConfiguration":{},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/4aac22e1-25d0-458e-9bad-c489bbb4527d"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/4aac22e1-25d0-458e-9bad-c489bbb4527d/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - bd9e389a-dbb5-4b4b-74ff-5f3b53101e61
        status: 200 OK
        code: 200
        duration: 310.74ms
[...]
