---
version: 2
interactions:
    - id: 0
      request:
        host: test-ci-cd-l646hcu6.authentication.eu12.hana.ondemand.com
        body: grant_type=client_credentials
        form:
            grant_type:
                - client_credentials
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://test-ci-cd-l646hcu6.authentication.eu12.hana.ondemand.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted-access-token","token_type":"bearer","expires_in":3599,"scope":"uaa.resource cicdservice!b556411.Administrate","jti":"373ef847172647f983bf72b715071daa"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 1b92f3dd-6d57-4af0-650b-c84e325bbe17
        status: 200 OK
        code: 200
        duration: 850.055792ms
    - id: 1
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: '{"name":"tf-test-cloud-connector","description":"Terraform acceptance test cloud connector credential","cloudConnector":{"locationId":"my-location-id"}}'
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/json
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials
        method: POST
      response:
        body: ""
        headers:
            Etag:
                - W/"0"
            Location:
                - https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/982b440c-53e2-4d1a-b763-7ea74d04b1a1
            X-Vcap-Request-Id:
                - bd31daea-4383-414a-7f1e-f6a95dbc1872
        status: 201 Created
        code: 201
        duration: 857.797625ms
    - id: 2
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/tf-test-cloud-connector
        method: GET
      response:
        body: '{"name":"tf-test-cloud-connector","apiVersion":"v2","id":"982b440c-53e2-4d1a-b763-7ea74d04b1a1","description":"Terraform acceptance test cloud connector credential","cloudConnector":{"locationId":"my-location-id"},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/982b440c-53e2-4d1a-b763-7ea74d04b1a1"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/982b440c-53e2-4d1a-b763-7ea74d04b1a1/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - ea4a7bc0-e61b-49ec-5150-8f19b6e9d50b
        status: 200 OK
        code: 200
        duration: 271.744041ms
    - id: 3
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/982b440c-53e2-4d1a-b763-7ea74d04b1a1
        method: GET
      response:
        body: '{"name":"tf-test-cloud-connector","apiVersion":"v2","id":"982b440c-53e2-4d1a-b763-7ea74d04b1a1","description":"Terraform acceptance test cloud connector credential","cloudConnector":{"locationId":"my-location-id"},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/982b440c-53e2-4d1a-b763-7ea74d04b1a1"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/982b440c-53e2-4d1a-b763-7ea74d04b1a1/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - 4bf7dc38-0a96-4b88-6793-e0755622a6c3
        status: 200 OK
        code: 200
        duration: 315.876ms
[...]
