---
version: 2
interactions:
    - id: 0
      request:
        host: integration-test-cicd-service-kfdmyx7a.authentication.eu12.hana.ondemand.com
        body: grant_type=client_credentials
        form:
            grant_type:
                - client_credentials
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://integration-test-cicd-service-kfdmyx7a.authentication.eu12.hana.ondemand.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted-access-token","token_type":"bearer","expires_in":3599,"scope":"uaa.resource cicdservice!b556411.Administrate","jti":"e7310dff7333459e9b378397af104070"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - eb73a735-e878-4650-7db4-a61ccbe068cf
        status: 200 OK
        code: 200
        duration: 1.144737667s
    - id: 1
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: '{"name":"tf-test-kubernetes-config","description":"Terraform acceptance test kubernetes config credential","kubernetesConfiguration":{"content":"apiVersion: v1\nkind: Config\nclusters: []\ncontexts: []\ncurrent-context: \"\"\nusers: []"}}'
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/json
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials
        method: POST
      response:
        body: ""
        headers:
            Etag:
                - W/"0"
            Location:
                - https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/d48bf4ed-b45c-4e59-ba60-a64217c20724
            X-Vcap-Request-Id:
                - 5414a6a7-f09b-4cbd-7985-bd4622258ba3
        status: 201 Created
        code: 201
        duration: 1.014060875s
    - id: 2
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/tf-test-kubernetes-config
        method: GET
      response:
        body: '{"name":"tf-test-kubernetes-config","apiVersion":"v2","id":"d48bf4ed-b45c-4e59-ba60-a64217c20724","description":"Terraform acceptance test kubernetes config credential","kubernetesConfiguration":{},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/d48bf4ed-b45c-4e59-ba60-a64217c20724"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/d48bf4ed-b45c-4e59-ba60-a64217c20724/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - 2cfc500e-a566-4fb6-4db5-edb8e58aa2c3
        status: 200 OK
        code: 200
        duration: 254.182958ms
    - id: 3
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/d48bf4ed-b45c-4e59-ba60-a64217c20724
        method: GET
      response:
        body: '{"name":"tf-test-kubernetes-config","apiVersion":"v2","id":"d48bf4ed-b45c-4e59-ba60-a64217c20724","description":"Terraform acceptance test kubernetes config credential","kubernetesConfiguration":{},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/d48bf4ed-b45c-4e59-ba60-a64217c20724"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/d48bf4ed-b45c-4e59-ba60-a64217c20724/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - 720e8111-c756-49df-682e-d0fb80d41217
        status: 200 OK
        code: 200
        duration: 241.806875ms
[...]
