---
version: 2
interactions:
    - id: 0
      request:
        host: integration-test-cicd-service-kfdmyx7a.authentication.eu12.hana.ondemand.com
        body: grant_type=client_credentials
        form:
            grant_type:
                - client_credentials
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://integration-test-cicd-service-kfdmyx7a.authentication.eu12.hana.ondemand.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted-access-token","token_type":"bearer","expires_in":3599,"scope":"uaa.resource cicdservice!b556411.Administrate","jti":"9d1658dae4f141818ea4be9f171fa2b7"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 6502e9aa-c618-4f1e-4c6e-675bf797f0ca
        status: 200 OK
        code: 200
        duration: 941.270625ms
    - id: 1
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: '{"name":"tf-test-cloud-connector","description":"Terraform acceptance test cloud connector credential","cloudConnector":{"locationId":"my-location-id"}}'
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/json
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials
        method: POST
      response:
        body: ""
        headers:
            Etag:
                - W/"0"
            Location:
                - https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/14600c33-9a9a-41b9-bbb8-d4f0cc7f43ab
            X-Vcap-Request-Id:
                - 2d0b3e91-4c06-4564-47ce-401afdfd9fa2
        status: 201 Created
        code: 201
        duration: 961.738959ms
    - id: 2
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/tf-test-cloud-connector
        method: GET
      response:
        body: '{"name":"tf-test-cloud-connector","apiVersion":"v2","id":"14600c33-9a9a-41b9-bbb8-d4f0cc7f43ab","description":"Terraform acceptance test cloud connector credential","cloudConnector":{"locationId":"my-location-id"},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/14600c33-9a9a-41b9-bbb8-d4f0cc7f43ab"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/14600c33-9a9a-41b9-bbb8-d4f0cc7f43ab/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - 4ad8e0ca-2dbb-4c9f-7c42-d3ed84fa5493
        status: 200 OK
        code: 200
        duration: 220.599917ms
    - id: 3
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/14600c33-9a9a-41b9-bbb8-d4f0cc7f43ab
        method: GET
      response:
        body: '{"name":"tf-test-cloud-connector","apiVersion":"v2","id":"14600c33-9a9a-41b9-bbb8-d4f0cc7f43ab","description":"Terraform acceptance test cloud connector credential","cloudConnector":{"locationId":"my-location-id"},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/14600c33-9a9a-41b9-bbb8-d4f0cc7f43ab"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/14600c33-9a9a-41b9-bbb8-d4f0cc7f43ab/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - 2e0505ea-b5bf-4fbb-5043-b10df9ba4cf6
        status: 200 OK
        code: 200
        duration: 237.414375ms
[...]
