---
version: 2
interactions:
    - id: 0
      request:
        host: test-ci-cd-l646hcu6.authentication.eu12.hana.ondemand.com
        body: grant_type=client_credentials
        form:
            grant_type:
                - client_credentials
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://test-ci-cd-l646hcu6.authentication.eu12.hana.ondemand.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted-access-token","token_type":"bearer","expires_in":3599,"scope":"uaa.resource cicdservice!b556411.Administrate","jti":"5cef5fdf936440158cdaffe1b56f06b4"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - cd044e7e-8ac2-4541-5c60-34e6d8d9e600
        status: 200 OK
        code: 200
        duration: 876.646417ms
    - id: 1
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: '{"name":"tf-test-webhook-secret","description":"Terraform acceptance test webhook secret credential","webhookToken":{"token":"my-secret-token"}}'
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/json
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials
        method: POST
      response:
        body: ""
        headers:
            Etag:
                - W/"0"
            Location:
                - https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/dfa7373b-6392-476b-b2c8-18d6118b5e30
            X-Vcap-Request-Id:
                - bfcd3049-aa5e-4945-490a-8c9565b05860
        status: 201 Created
        code: 201
        duration: 788.261ms
    - id: 2
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/tf-test-webhook-secret
        method: GET
      response:
        body: '{"name":"tf-test-webhook-secret","apiVersion":"v2","id":"dfa7373b-6392-476b-b2c8-18d6118b5e30","description":"Terraform acceptance test webhook secret credential","webhookToken":{},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/dfa7373b-6392-476b-b2c8-18d6118b5e30"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/dfa7373b-6392-476b-b2c8-18d6118b5e30/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - 3a586334-04ae-4869-58eb-31a12ec87bac
        status: 200 OK
        code: 200
        duration: 267.310292ms
    - id: 3
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/dfa7373b-6392-476b-b2c8-18d6118b5e30
        method: GET
      response:
        body: '{"name":"tf-test-webhook-secret","apiVersion":"v2","id":"dfa7373b-6392-476b-b2c8-18d6118b5e30","description":"Terraform acceptance test webhook secret credential","webhookToken":{},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/dfa7373b-6392-476b-b2c8-18d6118b5e30"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/dfa7373b-6392-476b-b2c8-18d6118b5e30/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - 68535bfa-efab-4d5e-6209-bcac92ddab28
        status: 200 OK
        code: 200
        duration: 262.804625ms
[...]
