---
version: 2
interactions:
    - id: 0
      request:
        host: test-ci-cd-l646hcu6.authentication.eu12.hana.ondemand.com
        body: grant_type=client_credentials
        form:
            grant_type:
                - client_credentials
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://test-ci-cd-l646hcu6.authentication.eu12.hana.ondemand.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted-access-token","token_type":"bearer","expires_in":3599,"scope":"uaa.resource cicdservice!b556411.Administrate","jti":"a209fa843d484d67be993426401532cf"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 501216be-b7e7-4146-7e14-acf3adf85e77
        status: 200 OK
        code: 200
        duration: 942.750251ms
    - id: 1
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: '{"name":"tf-test-container-registry","description":"Terraform acceptance test container registry credential","containerRegistryConfiguration":{"content":"{\"auths\":{\"registry.example.com\":{\"auth\":\"dXNlcjpwYXNz\"}}}"}}'
        form: {}
        headers:
            Authorization:
                - redacted
            Content-Type:
                - application/json
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials
        method: POST
      response:
        body: ""
        headers:
            Etag:
                - W/"0"
            Location:
                - https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/eee6c24a-38b6-4e89-be43-6f27e24d2f40
            X-Vcap-Request-Id:
                - f6c2dc81-db57-47b1-663d-10b7779d6908
        status: 201 Created
        code: 201
        duration: 888.117875ms
    - id: 2
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/tf-test-container-registry
        method: GET
      response:
        body: '{"name":"tf-test-container-registry","apiVersion":"v2","id":"eee6c24a-38b6-4e89-be43-6f27e24d2f40","description":"Terraform acceptance test container registry credential","containerRegistryConfiguration":{},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/eee6c24a-38b6-4e89-be43-6f27e24d2f40"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/eee6c24a-38b6-4e89-be43-6f27e24d2f40/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - abaeb560-f01c-4566-621b-a28999d662ef
        status: 200 OK
        code: 200
        duration: 258.802125ms
    - id: 3
      request:
        host: cicd-service.cfapps.eu12.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - redacted
        url: https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/eee6c24a-38b6-4e89-be43-6f27e24d2f40
        method: GET
      response:
        body: '{"name":"tf-test-container-registry","apiVersion":"v2","id":"eee6c24a-38b6-4e89-be43-6f27e24d2f40","description":"Terraform acceptance test container registry credential","containerRegistryConfiguration":{},"_links":{"self":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/eee6c24a-38b6-4e89-be43-6f27e24d2f40"},"credentials":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials"},"usages":{"href":"https://cicd-service.cfapps.eu12.hana.ondemand.com/v2/credentials/eee6c24a-38b6-4e89-be43-6f27e24d2f40/usages"}}}'
        headers:
            Content-Type:
                - application/hal+json;charset=UTF-8
            Etag:
                - W/"0"
            X-Vcap-Request-Id:
                - a1c3d918-43dd-457e-69d2-439222744db3
        status: 200 OK
        code: 200
        duration: 332.267834ms
[...]
